/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* MIX */

.mgb_20 {
  margin-bottom: 20px;
}

.list-inline  {
  list-style: none;
}

.list-inline li  {
  display: inline-block;
}

.text-center {
  text-align: center;
}

/* wrapper generale */
.page-wrapper {
  height: 100vh;
  background-color: #000;
}

main {
  height: calc(100% - 80px);
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  background-color: green;
}

/* logo spotify */
.logo {
  background-color: blue;
}

/* aside nav principale Home - Cerca - La tua libreria */
.main-nav {
  background-color: orange;
}

/* aside nav secondaria playlist */
.secondary-nav {
  background-color: lightblue;
  height: 100%;
  overflow: hidden;
}

/* per far uscire la scroll-bar verticale su <ul> della secondary-nav */
.playlist-list {
  background-color: pink;
  height: calc(100% - 50px);
  overflow-y: auto;
}

.playlist-title {
  height: 50px;
}

.aside-bottom {
  background-color: lightgrey;
  /* position: fixed;
  bottom: 80px; */
  margin-top: auto;
  width: 300px;
  height: 80px;
  flex-shrink: 0;
}

/* MAIN CONTENT */

.main-content {
  overflow-y: auto;
  height: 100%;
  width: calc(100% - 300px);
  background-color: yellow;
  padding: 0px 20px;
}

.btn {
  color: white;
  background-color: purple;
}

.upgrade {
  height: 80px;
  width: calc(100% - 300px);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_main_content {
  margin-top: 80px;
  padding: 10px 0px;
}

.nav_main_content li {
  padding: 0px 10px;
}

.track_cover {
  width: 150px;
  height: 150px;
  background-color: lightcyan;
}

.list_track {
  display: flex;
  flex-wrap: wrap;
}

.list_track li img {
  width: 100%;
}

.list_track li {
  flex-basis: calc(100% / 6);
  padding: 5px;
}

.list_popular li img {
  border-radius: 50%;
}




/* FOOTER */

footer  {
  /* position: relative; */
  background-color: darkgrey;
  height: 80px;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  /* bottom: 0px; */
}

.footer_sx {
  height: 100%;
  display: flex;
  align-items: center;
}

.footer_cover {
  width: 40px;
  height: 40px;
  background-color: blue;
  margin: 0px 10px;
}

.song_info {
  width: 120px;
}

.footer_cx {
  display: flex;
  align-items: center;
  height: 100%;
}

.player_cmd {
  height: 50px;
  width: 450px;
  background-color: red;
}

.footer_dx {
  display: flex;
  align-items: center;
  height: 100%;
}

.footer_volume {
  width: 250px;
  height: 40px;
  background-color: lightblue;
}


/* MEDIA QUERY MD */

@media screen and (max-width: 991px) {

  .list_track li {
    flex-basis: calc(100% / 2);
  }

  footer {
    background-color: yellow;
  }

}

/* MEDIA QUERY MD */

@media screen and (min-width: 992px) and (max-width: 1199px) {

  .list_track li {
    flex-basis: calc(100% / 4);
  }

  footer {
    background-color: yellow;
  }

}
