/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* FONT */

/* font generale della pagina */
body {
  font-family: 'Montserrat', sans-serif;
}

/* MARGIN */

.mgl_10 {
  margin-left: 10px;
}

.mgl_20 {
  margin-left: 20px;
}

.mgr_10 {
  margin-right: 10px;
}

.mgr_20 {
  margin-right: 20px;
}

.mgb_20 {
  margin-bottom: 20px;
}

.mgb_10 {
  margin-bottom: 10px;
}

.mgt_10 {
  margin-top: 10px;
}

.mgt_15 {
  margin-top: 15px;
}

.mgt_20 {
  margin-top: 20px;
}

.mgt_30 {
  margin-top: 30px;
}

/* PADDING */

.pdb_20 {
  padding-bottom: 20px;
}

.pdl_10 {
  padding-left: 10px;
}

.pdr_20 {
  padding-right: 20px;
}

.pdl_20 {
  padding-left: 20px;
}

.pdr_30 {
  padding-right: 30px;
}

.pdl_30 {
  padding-left: 30px;
}

/* COLORS */

.col_white {
  color: #fff;
}

/* MIX */

.de_point  {
  list-style: none;
}

.list_no_dec a {
  text-decoration: none;
}

.no_dec {
  text-decoration: none;
}

.list-inline li  {
  display: inline-block;
}

.text-center {
  text-align: center;
}

/* WRAPPER GENERALE */
.page-wrapper {
  height: 100vh;
  background-color: #000;
}

main {
  height: calc(100% - 90px);
  display: flex;
}

/* ASIDE_PAGE */

.aside_page {
  width: 225px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #717171;
  font-size: 12px;
  font-weight: 700;
  padding: 0px 20px;
}

/* colore link voci di menu delle nav */
.main-nav li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  position: relative;
}

.green_bar {
  display: none;
  height: 30px;
  width: 3px;
  background-color: lightgreen;
  position: absolute;
  left: -20px;
}

/* colore link voci di menu delle nav */
.aside_page a {
  color: #717171;
}

/* colore hover su link voci di menu delle nav */
.aside_page a:hover {
  color: #fff;
}

/* colore hover su link voci di menu delle nav */
.main-nav li:hover .green_bar {
  display: block;
}

/* colore link voci di menu delle nav */
.main-nav li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
}

/* logo spotify in testa all'aside_page */
.logo {
  width: 120px;
  padding: 20px 0px;
}

.logo_small {
  width: 25px;
  display: none;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* icone nav main dell'aside (Home - Cerca - La tua libreria) */
.ico_main_nav {
  width: 20px;
  margin-right: 3px;
}

/* zona crea playlist (icona + txt)*/
.crea_pl {
  font-size: 13px;
}

.crea_pl a:hover i {
  color: #000;
  background-color: #fff;
}

.playlist-title {
  height: 80px;
}

/* icona piu */
.fa-plus {
  font-size: 16px;
  color: #000;
  background-color: #a3a3a3;
  padding: 8px;
}

.crea_pl {
  display: flex;
  align-items: center;
}

.crea_pl_txt {
  padding-left: 10px;
}

/* SECONDARY NAV */

/* aside nav secondaria playlist */
.secondary-nav {
  height: 100%;
  overflow: hidden;
}

/* per far uscire la scroll-bar verticale su <ul> della secondary-nav */
.playlist-list {
  height: calc(100% - 80px);
  overflow-y: auto;
}

/* per far uscire la scroll-bar verticale su <ul> della secondary-nav */
.playlist-list li {
  padding-bottom: 10px;
}


/* fissa John Doe in basso a destra */
.aside-bottom {
  /* position: fixed;
  bottom: 80px; */
  margin-top: auto;
  /* height: 80px; */
  flex-shrink: 0;
}

/* sezione installa */
.installa_sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5px;
}

/* linea orizzontale separatrice installa / John Doe */
.hr_line {
  height: 1px;
  width: 100%;
  background-color: #717171;
}

/* icona di download Installa app */
.dwnl_ico {
  width: 14px;
  vertical-align: middle;
}

/* icona profilo John Doe */
.profile_ico {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #808080;
}

/* sezione John Doe */
.john_doe_sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px;
}

.john_doe_sec a:hover h4 {
  color: #808080;
}

.john_doe_sec a:hover img {
  background-color: #000;
}

/* MAIN CONTENT */

.main-content {
  overflow-y: auto;
  height: 100%;
  width: calc(100% - 225px);
  background-color: #141922;
  padding: 0px 20px;
}

/* UPGRADE - fascia trasparente fissata al top della pagina */
.upgrade {
  height: 80px;
  width: calc(100% - 200px);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* button EFFETTUA L'UPGRADE */
.btn {
  color: white;
  border: 1px solid #fff;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 600;
}

/* all'hover il button aumenta di dimensioni */
.upgrade a:hover {
  padding: 12px 30px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

/* MENU PRINCIPALE DEL MAIN CONTENT */

/* nav menu principale */
.nav_main_content {
  margin-top: 90px;
  padding: 10px 0px;
  font-size: 11px;
  font-weight: 700;
}

/* distanziamento voci di menu della nav menu principale */
.nav_main_content li {
  padding: 0px 10px;
  color: #717171;
}

/* colore voci di menu della nav menu principale */
.nav_main_content a {
  color: #717171;
}

/* barra verde per evidenziare voce di menu della nav menu principale */
.nav_main_content #evidenza::after {
  content:"";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #adff2f;
  margin: auto;
  margin-top: 3px;
}

/* colore hover voci di menu della nav menu principale */
.nav_main_content a:hover {
  color: #fff;
}

/* all'active della voce di menu esce la barra verde */
.nav_main_content a:active::after {
  content:"";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #adff2f;
  margin: auto;
  margin-top: 3px;
}

/* MAIN_CONTENT */

/* font e colori */

.main-content h2 {
  font-size: 20px;
  color: #fff;
}

.main-content h4 {
  font-size: 13px;
  color: #fff;
  margin: 10px 0px;
}

.main-content h5 {
  font-size: 10px;
  color: #717171;
}

/* list cover */

.list_track {
  display: flex;
  flex-wrap: wrap;
}

.list_track li {
  flex-basis: calc(100% / 6);
  padding: 5px;
}

.list_track li img {
  width: 100%;
}

.list_popular li img {
  border-radius: 50%;
}

/* .list_box_track {
  position: relative;
} */

.box_cover {
  overflow: hidden;
  position: relative;
  font-size: 0px;
}

.overlayer {
  width: 100%;
  /* DA DOVE ARRIVANO QUESTI 4px ???? debug */
  height: calc(100%);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.popular .overlayer {
  border-radius: 50%;
}

.box_track:hover .overlayer {
  display: block;
}

.box_track:hover {
  cursor: pointer;
}

.ico_play {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* FOOTER */

footer  {
  /* position: relative; */
  background-color: #282828;
  height: 90px;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  /* bottom: 0px; */
}

footer h5 {
  font-size: 12px;
  font-weight: 500;
}

footer h6 {
  font-size: 9px;
  font-weight: 700;
  color: #717171;
}

.footer_sx {
  /* flex-basis: calc(100% / 3); */
  height: 100%;
  display: flex;
  align-items: center;
}

/* dimensione immagine della cover del brano in play */
.footer_cover {
  width: 45px;
  background-color: blue;
  margin: 0px 10px;
}

/* larghezza del blocco artista / titolo brano */
.song_info {
  width: 100px;
}

.fa-folder, .fa-heart {
  color: #767676;
  font-size: 18px;
}

.fa-folder:hover {
  color: #fff;
}

.fa-heart:hover {
  color: #fff;
}

.footer_cx {
  /* flex-basis: calc(100% / 3); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.player {
  /* width: 450px; */
}

.player_cmds {
  text-align: center;
}

/* font icona PLAY comandi player */
.player_cmds .fa-play-circle {
  font-size: 32px;
}

/* font e allineamento icone comandi player */
.player_cmds li {
  font-size: 16px;
  vertical-align: middle;
}

.player_bar {
  font-size: 12px;
  color; #fff;
}

.list_player_cmds a {
  color: #fff;
}

.bar_total {
  width: 400px;
  height: 4px;
  background-color: #535353;
  border-radius: 4px;
  position: relative;
}

.bar_prog {
  width: 100px;
  height: 4px;
  background-color: #adff2f;
  border-radius: 4px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.bar_circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translate(-50%, -50%);
}

.bar_circle:hover {
  cursor: pointer
}

.time_prog, .time_end, .bar_total, .bar_prog {
  display: inline-block;
  vertical-align: middle;
}

.time_prog, .time_end {
  font-size: 10px;
}

/* FOOTER ZONA DX */

.footer_dx {
  /* flex-basis: calc(100% / 3); */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.volume_bar .bar_total {
  width: 120px;
}

.volume_bar {
  display: inline-block;
}

.footer_volume i {
  font-size: 12px;
  color: #fff;
  padding: 5px;
}

.footer_volume {
  padding: 0px 10px;
}


/* MEDIA QUERY MD */

@media screen and (min-width: 992px) and (max-width: 1199px) {

  .list_track li {
    flex-basis: calc(100% / 4);
  }

  /* diminuisce la lunghezza della bar del player */
  .bar_total {
    width: 270px;
  }


}

/* MEDIA QUERY SM */

@media screen and (max-width: 991px) {

  .list_track li {
    flex-basis: calc(100% / 2);
  }

  /* mette loghi cuore e folder in colonna */
  .heart_folder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* sistema i margin per centrare su asse x i loghi cuore e folder */
  .fa-folder {
    margin-left: 0px;
    margin-top: 3px;
  }

  /* diminuisce la lunghezza della bar del player */
  .bar_total {
    width: 170px;
    margin: 0px 10px;
  }

  /* aumnenta font e distanziamento voci di menu */
  .nav_main_content li {
    font-size: 15px;
    padding-bottom: 24px;
  }

  .main-content h2 {
    font-size: 28px;
  }

  .main-content h5 {
    font-size: 12px;
  }

}

@media screen and (max-width: 768px) {

  /* nasconde elementi della aside */
  .secondary-nav, .hr_line {
    display: none
  }

  .aside_page, .aside_bottom {
    width: 50px;
  }

  .main-content, .upgrade {
    width: calc(100% - 50px);
  }

  .aside_page {
    padding: 0px;
  }

  .main-nav a {
    width: 100%
  }

  .main-nav li {
    text-align: center;
  }

  /* aumnenta font e distanziamento voci di menu */
  .nav_main_content li {
    font-size: 18px;
    padding-bottom: 30px;
  }

  .recently h2 {
    margin-top: 0px;
  }

  .installa_sec a {
    width: 100%;
    text-align: center;
  }

  .john_doe_sec a {
    width: 100%;
    text-align: center;
  }

  .logo, .txt_home, .txt_cerca, .txt_libreria, .txt_installa, .txt_john_doe {
    display: none;
  }

  .logo_small {
    display: block;
    margin: 0 auto;
  }

  .song_info {
    width: 75px;
  }

  .song_info h5 {
    font-size: 14px;
    font-weight: 700;
  }

  .song_info h6 {
    font-size: 12px;
    font-weight: 700;
  }

  /* aumnenta font e distanziamento voci di menu */
  .nav_main_content li {
    font-size: 15px;
    padding-bottom: 24px;
  }

  .main-content h2 {
    font-size: 28px;
  }

  .main-content h5 {
    font-size: 12px;
  }

}

@media screen and (max-width: 700px) {

  .song_info, .heart_folder {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  .footer_volume .fa-list, .footer_volume .fa-desktop {
    display: none;
  }
}

@media screen and (max-width: 500px) {

  .volume_bar {
    display: none;
  }
}

@media screen and (max-width: 350px) {

  .player_bar {
    display: none;
  }

  .player_cmds .fa-random, .fa-redo-alt {
    display: none;
  }

  .player_cmds {
    margin-bottom: 0px;
  }
}


@media screen and (max-width: 300px) {

  .player_cmds .fa-step-forward, .fa-step-backward {
    display: none;
  }

  .player_cmds {
    margin-bottom: 0px;
  }
}
